//Colors

$color-background-y: #EEE;
$color-background-x: #393E46;
$color-background-1: #222831;
$color-background-2: #393E46;
$color-blue: #536dfe;
$color-green: #00ADB5;
$color-light-gray: #e0e0e0;
$color-full-white: #FFF;
$color-carbon: #393E46;

//Font size
$font-size-0: 0.75rem;
$font-size-1: 1rem;
$font-size-2: 1.5rem;
$font-size-3: 2rem;
$font-size-4: 2.25rem;

//Font-weight
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;