@import '../abstract/variables';

.task-list {
    width: 100%;
    max-width: 512px;
    height: fit-content;
    background-color: $color-background-2;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.1);
}

